.footercontainer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  /* width: 900px; */
  border-top: 1px solid var(--color-border-strong);
  background-color: var(--color-bg-alt);
}