.wifibodycontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 10px;
  padding: 20px;
  background-color: #dde1e7;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}